<html>
<head>
	<title></title>
</head>
<body>

	<h1>Welcome</h1>


	<form action='topic' method=POST>
		<input type='submit' value='New Topic' />
	</form>

	<form action='topic/search' method=POST>
		<input type = 'text' name='title' placeholder='search'>
	</form>

	<% for (var i=0; i < list.length; i++ ){ %>
		<a href="topic/<%=list[i]._id%>/comment">
		<li> <%= list[i].title %> </li>
		</a>
	<%} %>

</body>
</html>