<html>
<head>
	<title></title>
</head>
<body>
	<h1>What's the new topic </h1>

		<form action='topic/new' method = POST>
	 	<input type='text' name='title' placeholder='Topic Title'/>
	 	<input type='submit' value='Submit'/>
	 	
	</form>

</body>
</html>